{% extends "layout.html" %}
{% block title %}Registra Nuovo Utente{% endblock %}
{% block content %}
<div class="auth-container panel">
    <h2>Registra Nuovo Utente</h2>
    
    <form method="post">
        <div class="form-group">
            <label for="username">Username Nuovo Utente</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Registra Utente</button>
    </form>
</div>
{% endblock %}